<div class="forgot-password-container">
  <h2 class="forgot-password-title">Forgot Password?</h2>
  <p class="forgot-password-description">Enter your email address below and we'll send you a link to reset your password.</p>

  <form class="forgot-password-form" (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm()">
    <div class="form-group">
      <label for="email" class="form-label">Email Address</label>
      <input type="email" id="email" class="form-input" placeholder="Enter your email" formControlName="email">
      @let email = forgotPasswordForm().get('email');
      @if (email?.touched && email?.invalid || email?.dirty && email?.invalid){
        <span class="error-message">Please enter a valid email address.</span>
      }
    </div>

    <button type="submit" class="btn-submit" [disabled]="forgotPasswordForm().invalid">SEND RESET LINK</button>
  </form>
</div>
